<h2><%= Order.human_attribute_name(:code)%>: <%=order.code%> </h2> 
<h2><%= Order.human_attribute_name(:warehouse_id)%>: <%=order.warehouse.full_description%> </h2> 
<h2><%= Order.human_attribute_name(:supplier_id)%>: <%=order.supplier.fantasy_name%></h2>