<h1>Detalhes do Pedido</h1>
<h2><%= Order.model_name.human %> <%= @order.code%></h2>

<% if flash[:notice] %>
  <p style='color: green'><%= flash[:notice]%></p>
<% end %>

<section id='order'>
    <div>
      Status: <%=t @order.status%> 
      <h2><%= Order.human_attribute_name(:warehouse_id)%>: <%= @order.warehouse.full_description%> </h2> 
      <h2><%= Order.human_attribute_name(:supplier_id)%>: <%= @order.supplier.fantasy_name%></h2>
      <h2><%= Order.human_attribute_name(:admin_id)%>: <%= @order.admin.name%> | <%= @order.admin.email%></h2>
      <h2><%= Order.human_attribute_name(:estimated_delivery_date)%>: <%= I18n.localize(@order.estimated_delivery_date) %></h2>        
    </div>
    
    <div>
      <h2>Itens do Pedido</h2>
      <%= link_to 'Adicionar item', new_order_order_item_path(@order) %>
      <% @order.order_items.each do |item|%>
        <%= item.quantity %> x <%= item.product_model.name %>
      <% end %>
    </div>

    <div>
        <%= link_to 'Editar', edit_order_path(@order)%>
        <%= button_to 'Entregue', delivered_order_path(@order), method: :patch%>
        <%= button_to 'Cancelado', canceled_order_path(@order), method: :patch%>
    </div>
</section>