<section class='container'>
  <%= form_with model: [:order, @order_item], html: { class: 'form' } do |f| %>
    <div>
      <h1>Novo Item para o pedido <%= @order.code %></h1>
      <div class='field'>
        <%= f.label :product_model_id %>
        <%= f.collection_select :product_model_id, @product_models, :id, :name %>
      </div>

      <div class='field'>
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
      </div>
      <div class='w-full'>
        <%= f.submit 'Adicionar', class:'btn-primary w-full' %>
      </div>
    </div>
  <% end %>
</section>