<% if @supplier.errors.any? %>
    <ul>
    <% @supplier.errors.each do |error| %>
        <li><%= error.full_message %></li>
    <% end %>
    </ul>
<% end %>
<section class="container">
<%= form_with model: @supplier, html: { class: 'form'} do |f| %>
    <div>
        <div class='field'>
            <%= f.label :fantasy_name %> 
            <%= f.text_field :fantasy_name %>
        </div>
        <div class='field'>
            <%= f.label :company_name%>
            <%= f.text_field :company_name %>
        </div>
        <div class='field'>
            <%= f.label :cnpj%>
            <%= f.text_field :cnpj %>
        </div>
        <div class='field'>
            <%= f.label :email%>
            <%= f.text_field :email %>
        </div>
        <div class='field'>
            <%= f.label :phone%>
            <%= f.text_field :phone %>
        </div>
        <div class='field'>
            <%= f.label :address %>
            <%= f.text_field :address %>
        </div>
        <div class='w-full'>
            <%= f.submit 'Enviar', class: 'btn-primary w-full'%>
        </div>
    </div>
<% end %>
</section>