<section class="container">
<%= form_with model: @warehouse, html: { class: 'form'} do |f| %>
    <div>
        <h1>Novo Galpão</h1>
        <div class='field'>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <% if @warehouse.errors.any?%>
                <p class=' text-red-600'><%= @warehouse.errors.full_messages_for(:name).first %></p>
            <% end %>
        </div>
        <div class='field'>
            <%= f.label :code%>
            <%= f.text_field :code %>
            <% if @warehouse.errors.any?%>
                <p class=' text-red-600'><%= @warehouse.errors.full_messages_for(:code).first %></p>
            <% end %>
        </div>
        <div class='field'>
            <%= f.label :area%>
            <%= f.number_field :area %>
            <% if @warehouse.errors.any?%>
                <p class=' text-red-600'><%= @warehouse.errors.full_messages_for(:area).first %></p>
            <% end %>
        </div>
        <div class='field'>
            <%= f.label :cep%>
            <%= f.text_field :cep %>
            <% if @warehouse.errors.any?%>
                <p class=' text-red-600'><%= @warehouse.errors.full_messages_for(:cep).first %></p>
            <% end %>
        </div>
        <div class='field'>
            <%= f.label :city%>
            <%= f.text_field :city %>
            <% if @warehouse.errors.any?%>
                <p class=' text-red-600'><%= @warehouse.errors.full_messages_for(:city).first %></p>
            <% end %>
        </div>
        <div class='field'>
            <%= f.label :address %>
            <%= f.text_field :address %>
            <% if @warehouse.errors.any?%>
                <p class=' text-red-600'><%= @warehouse.errors.full_messages_for(:address).first %></p>
            <% end %>
        </div>
        <div class='field'>
            <%= f.label :description %>
            <%= f.text_area :description %>
            <% if @warehouse.errors.any?%>
                <p class=' text-red-600'><%= @warehouse.errors.full_messages_for(:description).first %></p>
            <% end %>
        </div>
        <div class='w-full'>
            <%= f.submit 'Enviar', class: 'btn-primary w-full'%>
        </div>
    </div>
<% end %>
</section>
