<h1>Galpão <%= @warehouse.name%></h1>

<% if flash[:notice] %>
  <p style='color: green'><%= flash[:notice]%></p>
<% end %>

<section id='warehouse'>
    <div>
        <h4><%= @warehouse.name%> <%= @warehouse.code%></h4>
        <strong>Descrição: <strong><p> <%= @warehouse.description%></p>
        <strong>Cidade: <strong><p><%= @warehouse.city%></p>
        <strong>Área: <strong><p><%= @warehouse.area%></p>
        <strong>Endereço: <strong><p><%= @warehouse.address%>, CEP: <%= @warehouse.cep%></p>
    </div>
    <div>
        <%= button_to 'Remover', warehouse_path(@warehouse.id), method: :delete %>
        <%= link_to 'Editar', edit_warehouse_path%>

    </div>
    <div id='estoque'>
        <h2>Itens em estoque</h2>

        <% @stocks.each_pair do |pm, qtt| %>
            <%= qtt %> x <%= pm.name %>
        <% end %>
    </div>

    <div>
        <h2>Saida de Estoque</h2>
        <%= form_with url: warehouse_stock_product_destinations_path(@warehouse.id) do |f| %>
            <%= f.label :product_model_id, 'Item para Saída' %>
            <%= f.collection_select :product_model_id, @product_models, :id, :name %>

            <%= f.label :recipient, 'Destinatario' %>
            <%= f.text_field :recipient %>

            <%= f.label :adress, 'Endereço destino' %>
            <%= f.text_field :adress %>

            <%= f.submit 'Confirmar retirada'%>
        <% end %>
    </div>

    <%= link_to 'Voltar', root_path%>
</section>
